<!DOCTYPE html>
<html>

<head>
	<title>Where to Next</title>
	<link rel="stylesheet" href="static/css/style.css">
	<!-- Links to retrieve the Quicksand font from google-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
	<div id="sidebar">
		<h1><a id="home_button" href="/">Where To Next?</a></h1>
		<ul id="sidebar_list">

			<li>
				<h4 class="sidebar_city">Atlanta, Georgia</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=Atlanta#census">Census</a></li>
					<li><a class="tab_selector" href="?city=Atlanta#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=Atlanta#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=Atlanta#stops">Stops</a></li>
				</ul>
				<br>
			</li>


			<li>
				<h4 class="sidebar_city">Billings, Montana</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=Billings#census">Census</a></li>
					<li><a class="tab_selector" href="?city=Billings#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=Billings#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=Billings#stops">Stops</a></li>
				</ul>
				<br>
			</li>

			<li>
				<h4 class="sidebar_city">Detroit, Michigan</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=Detroit#census">Census</a></li>
					<li><a class="tab_selector" href="?city=Detroit#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=Detroit#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=Detroit#stops">Stops</a></li>
				</ul>
				<br>
			</li>

			<li>
				<h4 class="sidebar_city">Houston, Texas</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=Houston#census">Census</a></li>
					<li><a class="tab_selector" href="?city=Houston#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=Houston#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=Houston#stops">Stops</a></li>
				</ul>
				<br>
			</li>

			<li>
				<h4 class="sidebar_city">Los Angeles, California</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=Los Angeles#census">Census</a></li>
					<li><a class="tab_selector" href="?city=Los Angeles#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=Los Angeles#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=Los Angeles#stops">Stops</a></li>
				</ul>
				<br>
			</li>

			<li>
				<h4 class="sidebar_city">Minneapolis, Minnesota</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=Minneapolis#census">Census</a></li>
					<li><a class="tab_selector" href="?city=Minneapolis#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=Minneapolis#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=Minneapolis#stops">Stops</a></li>
				</ul>
				<br>
			</li>

			<li>
				<h4 class="sidebar_city">New York, New York</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=New York#census">Census</a></li>
					<li><a class="tab_selector" href="?city=New York#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=New York#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=New York#stops">Stops</a></li>
				</ul>
				<br>
			</li>

			<li>
				<h4 class="sidebar_city">Philadelphia, Pennsylvania</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=Philadelphia#census">Census</a></li>
					<li><a class="tab_selector" href="?city=Philadelphia#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=Philadelphia#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=Philadelphia#stops">Stops</a></li>
				</ul>
				<br>
			</li>

			<li>
				<h4 class="sidebar_city">Phoenix, Arizona</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=Phoenix#census">Census</a></li>
					<li><a class="tab_selector" href="?city=Phoenix#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=Phoenix#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=Phoenix#stops">Stops</a></li>
				</ul>
				<br>
			</li>

			<li>
				<h4 class="sidebar_city">Portland, Oregon</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=Portland#census">Census</a></li>
					<li><a class="tab_selector" href="?city=Portland#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=Portland#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=Portland#stops">Stops</a></li>
				</ul>
				<br>
			</li>

			<li>
				<h4 class="sidebar_city">Seattle, Washington</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=Seattle#census">Census</a></li>
					<li><a class="tab_selector" href="?city=Seattle#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=Seattle#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=Seattle#stops">Stops</a></li>
				</ul>
				<br>
			</li>

			<li>
				<h4 class="sidebar_city">Washington, DC</h4>
				<ul class="sidebar_dropdown">
					<li><a class="tab_selector" href="?city=Washington#census">Census</a></li>
					<li><a class="tab_selector" href="?city=Washington#weather">Weather</a></li>
					<li><a class="tab_selector" href="?city=Washington#jobs">Jobs</a></li>
					<li><a class="tab_selector" href="?city=Washington#stops">Stops</a></li>
				</ul>
				<br>
			</li>
		</ul>
	</div>
	<div id="main_content">
		<!-- The data for the selected state and category will be loaded here -->
		<h1 class="debug_text">{{ logged_data }}</h1>
		<div id="census" class="data_section">
			<h3 class="content_title">Census</h3>

			<div class="field_info">
				<div class="record">
					{% for document in args['all_data'][0] %}
						{% for field in document %}
							<p class="field_name">{{ field }}: </p>
							<p class="field_value">{{ document[field] }} </p> 
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
		<hr>
		<div id="weather" class="data_section">
			<h3 class="content_title">Weather</h3>

			<div class="field_info">
				<div class="record">
					{% for document in args['all_data'][1] %}
						{% for field in document %}
							<p class="field_name">{{ field }}: </p>
							<p class="field_value">{{ document[field] }} </p>
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
		<hr>
		<div id="jobs" class="data_section">
			<h3 class="content_title">Jobs</h3>
			<div class="field_info">
				{% for document in args['all_data'][2] %}
				<details>
					<summary>{{ document['Position_Title'] }}</summary>
					<div class="record">
						{% for field in document %}
						<p class="field_name">{{ field }}: </p>
							{% if field == "Position_URI" %}
								<a class="field_value" href="{{ document[field] }}">{{ document[field] }}</a>
							{% else %}
								<p class="field_value">{{ document[field] }} </p> 
							{% endif %}
						{% endfor %}
					</div>
				</details>
				<hr class="doc_seperator">
				{% endfor %}
			</div>
		</div>
		<hr>
		<div id="stops" class="data_section">
			<h3 class="content_title">Stops</h3>

			<div class="field_info">
				<div class="record">
					{% for document in args['all_data'][3] %}
						{% for field in document %}
							<p class="field_name">{{ field }}: </p>
							<p class="field_value">{{ document[field] }} </p> 
						{% endfor %}
					<hr class="doc_seperator">
					{% endfor %}
				</div>
			</div>
		</div>


	</div>
</body>

</html>